.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #ffffff !important;
}
.custom-bg {
    background-color: transparent !important;
    color: white; 
}
