/* Configuração do fundo */
.background {
    background-color: #1E2A38;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    font-weight: bold;
    color: #0d6efd;
}

/* Estilo do container do formulário */
.form-container {
    max-width: 400px; /* Diminuído de 500px para 400px */
    margin: auto;
}

/* Estilo do card de cadastro */
.card {
    border: none;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
h3 {
    font-weight: 700;
    color: #343a40;
}

/* Botão de envio */
.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
        padding: 0 20px;
    }
}
