*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{height: 100%;}
header{
    background-color: #73b4ff;
    padding: 8px 2%;
    height: 46px;
    display: flex;
    justify-content: space-between;
}
.info-header{
    color: white;
    display: flex;
}
.info-header img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
    padding: 5px;
    background-color: #ffffff;
}
.info-header svg{
    margin: 0 10px;
}
.icons-header{
    margin-left: 10px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.sidebar{
    width: 20%;
    background-color: white;
    height: 100%;
}
.sidebar h3{
    color: #333;
    font-size: 20px;
}
.sidebar a{
    display: block;
    text-decoration: none;
    margin-left:15px ;
    margin-top: 10px;
}
.content{
   width: 80%;
   background-color: rgb(245, 245, 245);
}

